
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container col-lg-3 com-md-6 col-sm-6"> 
      
        @using (Html.BeginForm("MyScore", "SD", FormMethod.Post))
        {
            
            <div class="form-control">
                <div class="card-header text-center"><h2> Login S&D</h2></div>
                <div class="modal-body">
                    <div class="form-group">
                        UserName :
                        <input type="text" name="UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        Password :
                        <input type="password" name="Password" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="form-control btn-success"  />
                </div>

            </div>
        }

    </div>
</body>
</html>
