
@{
    ViewBag.Title = "MyScore";
    Layout = "~/Views/header/SiteMaster.cshtml";
}
<h2>MyScore</h2>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-control">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3" for="workstatus"> Work Status :</label>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select class="form-control" id="WorkStatus">
                            <option>วันทำงาน</option>
                            <option>วันหยุด</option>
                            <option>วันลา</option>
                            <option>N/A</option>
                        </select>
                    </div>
                        <label class="control-label col-lg-3 col-md-3 col-sm-3" for="workstatus"> สถานที่  :</label>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <select class="form-control" id="Place">
                                <option>ห้อง TAC</option>
                            </select>
                        </div>
                   
                </div>
            </form>
 

             
               
                

          
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">

    </div>
</div>

