

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Score</title>
    <!-- Bootstrap CSS CDN -->
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link href="~/Scripts/CSS/style3.css" rel="stylesheet" />
    <!-- Scrollbar Custom CSS -->
    <link href="~/Scripts/CSS/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Scripts/CSS/navSlidebar.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <h3> S & D</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    @Html.ActionLink("MyScore", "GoMyScore", "SD" , null , null)
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">All Score</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">All Score</a></li>
                        <li><a href="#">All Score by Team</a></li>
                        <li><a href="#">All Score by Person</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Line</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Line All</a></li>
                        <li><a href="#">Line Score by Team</a></li>
                        <li><a href="#">Line Score by Person</a></li>
                        <li><a href="#">Line History</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Import Line</a>
                </li>
                @*<li>
                    <a href="#">Contact</a>
                </li>*@
            </ul>
            @*<ul class="list-unstyled CTAs">
                <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
            </ul>*@
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">   
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Open Sidebar</span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container body-content">
                @RenderBody()
                <hr />
            </div>


        </div>
    </div>

    <div class="overlay"></div>

    <!-- jQuery CDN -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="~/Scripts/CSS/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
    </script>
</body>
</html>


   